/* R */
.region-header {
  margin-top: 50px;
  flex-direction: column;
  text-align: center; }

/* S */
.site-name {
  text-align: center; }

/* V */
.view-_023q3-scrum-view .view-content {
  display: flex;
  flex-wrap: wrap; }
